@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800&display=swap&subset=cyrillic');
html
{
  /*display: inline-block;*/
  /*display: flex;*/
}

*
{
  
  padding: 0px;
  margin: 0px;
  display: block;
}

div
{
  ddisplay: block;
}

body
{ 
  background-image: url("https://i.imgur.com/3M9XG2T.png");
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 1351px;
}

img
{
	user-select: none;
}

.top-navbar
{
  height: 85px;
  display: flex;
  background: rgba(21, 21, 22, 0.24);
}

.navbar-icon
{
  display: inline-block;
  /*background: green; */
  height: 100%;
  width: 85px;
  
  position: relative;
  margin-left: 1vw;
  
  background-image: url("https://i.imgur.com/Nq2pGaw.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

#navbar-head
{
  position: relative;
  top: 12.5%;
  font-size: 3em;
  font-family: 'Roboto Slab', serif;
  color: white;
}

.head-text-container
{
  display: inline-block;
  height: 100%;
}

.nav-side
{
  display: flex;
  flex-direction: column;
  width: 300px;
  /*margin: 6em 2vw;*/
  margin: 6em 50px 0px 30px;
}

/*.nav-side-border
{
  position: relative;
  height: 10px;
  width: 100%;
  background: white;
}*/

.nav_stuff_box
{
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 551px;
	background: rgba(9, 9, 17, 0.22);
	border-top: 10px solid white;
	padding: 10px 10px 10px 15px;
}

.page_content
{
	/*display: inline-block;*/
	display: flex;
	/*min-width: 1351px;*/
}

.article
{
  margin-top: 6em;
  /*display: inline-block;*/
  display: flex;
  width: 85%;
  float: right;
  /*background: ;*/
  flex-direction: column;
 /* transform: scale(0.8); */
}

.article_head
{
  /*display: inline-block;*/
  display: flex;
  border-left: 11px solid #FF00A8;
  /*flex*/
 /* padding-right: 100px; */
}

/*.arcl_side_border
{
  display: inline-block;
  width: 11px;
  background: #FF00A8;
}
*/
.arcl_header
{
  display: flex;
  /*position: relative;*/
  /*width: 100%;*/
  background: rgba(8, 8, 9, 0.13);
  
}

.arcl_header_p
{
  
  font-family: 'Roboto Slab', serif;
  /*font-size: 2vw;*/
  font-size: 35px;
  /*transform: translateY(15%);*/
  color: white;
  margin-left: 10px;
  padding: 10px 0px 10px;
  padding-right: 20px;
}

.article_content
{
  /*display: inline-block;*/
  display: flex;
  flex-direction: column;
  /*height: 1000px;*/
  width: 97%;
  /*background: ;*/
  margin-top: 10px;
}

.tut_step
{
  display: inline-block;
  /*width: 50%;*/
  width: 1000px;
  margin-top: 60px;
  margin-right: 0px;
}

.tut_step_head
{
	display: flex;
	flex-direction: column;
	height: auto;
	width: 100%;
	background: rgba(8, 8, 9, 0.13);
}

.tut_step_head_text
{
	padding-left: 5px;
	/* font-family: 'Roboto Slab', serif;*/
	font-family: 'Open Sans', serif;
	font-weight: 300;
	/*font-size: 0.9vw;*/
	font-size: 17px;
	padding-top: 10px;
	/*color: white;*/
	color: rgb(240, 240, 240);
	border-top: 5px solid #64DAFF;
}

.tut_step > div:not(:first-child)
{
  transition: 1s;
  width: 100%;
  overflow: hidden;
}

.tut_step div img
{
  width: 100%;
}

.tut_step button
{
  transition: 0.3s;
  transform: rotate(0deg);

  background: #64DAFF;
  background-image: url(https://i.imgur.com/tBDh6rF.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  height: 25px;
  width: 25px;
  position: relative;
  left: -0px;
  top: 0px;
  border: none;
  border-radius: 100%;

  outline: none;
}

.tut_step_head button:hover
{
  cursor: pointer;
}

.tut_step_head button:hover
{
  transition: 0.3s;
  transform: rotate(180deg);
}


.tut_step_content_closed
{
  height: 0px;
  transition: 1s;
}

.step_green_col
{
 border-top: 5px solid #64FF86;
}


.footer
{

  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.25);
  margin-top: 200px;

}


.footer p
{
  font-size: 1vw;
  padding: 20px;
  color: white;
  color: rgb(200, 200, 200);
}


/*Corrective overwrites for text*/
/*wat*/
/*what kind of corrective overrides, you fucking lunatic ??*/



.rquick_index
{
	display: flex;
	min-width: 200px;
	/*height: 100px;*/
	/*background-color: red;*/
	align-self: flex-end;
	position: fixed;
	margin-top: 135px;
	margin-right: 2em;
	background: rgba(9, 9, 17, 0.22);
	flex-direction: column;
	max-width: 300px;
}



@media (min-width: 1590px)
{
  .rquick_indexss
  {
    /*margin-right: 1px;*/
    margin-right: 300px;
  }
}



.e_hidden
{
	display: none !important;
}


/*
				<div class="at_border_edit_box">
					<div class="at_border_enabled"><input type="checkbox"><div class="at_border_enabled_label">Enable border</div></div>
					<input type="color">
				</div>*/


.at_border_edit_box
{
	display: flex;
	flex-direction: column;
	align-self: flex-end;
	position: absolute;
	margin-right: -120px;
	color: white;
}

.at_border_edit_box label
{
	display: flex;
	user-select: none;
}

.suggest_border_colors
{
	display: flex;
}

.border_color_suggestion
{
	width: 15px;
	height: 15px;
	margin: 1px;
}

.tut_step_content
{
	display: flex;
	flex-direction: column;
}

.iliketomoveit
{
	display: flex;
	flex-direction: column;
}
.article_movetop, .article_movebot
{
	display: flex;
	background: gray;
	background-image: url('assets/arrow.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 20px;
	border-radius: 2px;
	align-items: center;
	justify-content: center;
	margin: 1px;
}

.article_movebot
{
	transform: rotate(180deg);
}

.article_movetop:active, .article_movebot:active
{
	outline: 2px solid white;
}



/*.mv_triangle
{
	border: 10px solid transparent;
}


.article_movetop .mv_triangle
{
	border-top: 10px solid black;
}

.article_movebot .mv_triangle
{
	border-bottom: 10px solid black;
}*/


.image_editor
{
	display: flex;
	flex-direction: column;
	width: 50%;
}

.image_deleter
{
	user-select: none;
	color: white;
	background: gray;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	width: 100px;
	margin-top: 10px;
}

.image_adder_btn, .add_box, .cum_on_a_lizard, .delete_box, .preview_page, .ctg_button, .ctg_cancel_operation, .mkbold_text, .add_new_dir_to_root
{
	user-select: none;
	color: white;
	background: gray;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	width: 100px;
	margin-top: 10px;
}

.add_box, .cum_on_a_lizard
{
	width: auto;
	margin-top: 50px;
}
.cum_on_a_lizard, .add_box
{
	order: 214748363;
}

.delete_box
{
	width: 30px;
	margin-top: 5px;
	color: black;
}

.preview_page
{
	width: auto;
}

.ctg_button
{
	margin: 0px 0px 0px 3px;
	width: 20px;
	font-size: 12px;
}

.ctg_cancel_operation
{
	width: auto;
	font-size: 20px;
}
.add_new_dir_to_root
{
	width: auto;
	margin-top: 10px;
	order: 214748363;
}

.image_deleter:active, .image_adder_btn:active, .add_box:active, .cum_on_a_lizard:active, .delete_box:active, .preview_page:active, .ctg_button:active, .ctg_cancel_operation:active, .mkbold_text:active, .add_new_dir_to_root:active
{
	outline: 2px solid white;
}

.c_image_size
{
	width: 100px;
	margin-top: 5px;
}

.c_image_input
{
	color: white;
	margin-top: 5px;
}

.section_name
{
	margin-top: 20px;
	width: 300px;
}

.nav_folder
{
	display: flex;
	flex-direction: column;
	/*margin-left: 10px;*/
}

.folder_name
{
	display: flex;
	color: green;
	user-select: none;
}

.folder_content
{
	display: flex;
	flex-direction: column;
	margin-left: 15px;
}

.nav_tutorial
{
	display: flex;
	color: white;
}

.ctg_rootpaste
{
	/*align-self: flex-end;*/
	order: 214748364;
	width: auto;
	font-size: 14px;

}


st
{
	display: inline;
}

st[bold]
{
	font-weight: 700;
}

st[italic]
{
	font-style: italic;
}

st[strike]
{
	text-decoration: line-through;
}

.tut_name_text, .fname_text
{
	min-height: 15px;
	min-width: 30px;
	user-select: none;
}

.imgrow
{
	display: flex;
}

.c_image_url
{
	width: 100%;
}

.e_unclickable
{
	pointer-events: none !important;
}

.imgzoom
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	position: fixed;
	z-index: 65535;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	/*background: red;*/
}

.imgzoom img
{
	width: auto;
	height: 100%;
}

/*.tut_step
{
	outline: 5px solid;
	outline-color: transparent;
	transition: .5s;
}
*/

/*.tut_step:hover
{
	outline: 5px solid;
	outline-color: rgba(255, 0, 0, 1);
	transition: .1s;
}*/

.hlight
{
	outline: 5px solid;
	outline-color: rgba(255, 0, 0, 1);
	transition: 0s;
}

.nohlight
{
	outline: 5px solid;
	outline-color: transparent !important;
	transition: .9s;
}

